body {
    margin: 0;
	padding: 0;
    background: #f5f1e9;
}

.container {
    position: relative;
    height: 100vh;
}

#collageView, #recipeView {
    position: absolute;
    inset: 0;
    transition: opacity 1.5s;
}

.showing { opacity: 1; }
.hidden { 
    opacity: 0; 
    pointer-events: none; 
}

#grandma {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

.surrounding-images img {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.2s ease-out;
}

#table {
    position: absolute;
    top: calc(47% - 300px);
    left: 50%;
    transform: translateX(-50%);
    width: 315px;
}

#mombday {
    top: 50%;
    left: calc(40% - 300px);
    transform: translateY(-50%);
}

#panipuri {
    top: 50%;
    right: calc(45% - 300px);
    transform: translateY(-50%);
}

.hotspot {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    transition: 0.3s;
}

.recipe-marathi { 
    top: 30%;
    left: 25%;
}
.recipe-english { 
    top: 40%;
    right: 25%;
}

#recipeView {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipeImage {
    max-width: 90%;
    max-height: 90%;
}

.hotspot:hover {
    background: rgba(255,255,255,0.8);
    transform: scale(1.1);
}